<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/style.css" />
</head>
<body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="~/">Kaoruko</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Workers/Index">ワーカー</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Results">結果</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>
